{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>alifewithhim - 48hrs</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="{% static 'indexassets/img/logo-alwh.png' %}" rel="icon">
    
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="{% static 'dashboard/css/styles.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dashboard</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Registrations</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">REGISTRATIONS</div>
                                <h2>{{total_reg}}</h2>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="dashboard">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">UNVERIFIED</div>
                                <h2>{{total_unverified}}</h2>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="unverified">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">VERIFIED</div>
                                <h2>{{total_verified}}</h2>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="verified">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="csvfile"><button type="button" class="btn btn-secondary">Download Csv file</button></a>
                    <a href="unverify"><button type="button" class="btn btn-secondary">Unverify</button></a>
                    <br><br>
                    <div class="card mb-4">
                        <div class="card-body">
                            <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>FIRST NAME</th>
                                <th>SURNAME</th>
                                <th>DAY OF ARRIVAL</th>
                                <th>FIRST TIME</th>
                                <th>PHONE NUMBER</th>
                                <th>STATUS</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reg in query %}
                            <tr>
                                <td>{{reg.user_firstname}}</td>
                                <td>{{reg.user_lastname}}</td>
                                <td>{{reg.user_arrival_day}}</td>
                                {% if reg.user_first_time == "Have you been to any of our programs" %}
                                <td>Not stated</td>
                                {% else %}
                                <td>{{reg.user_first_time}}</td>
                                {% endif %}
                                <td>{{reg.user_phone}}</td>
                                {% if reg.verified %}
                                <td>Verified</th>
                                {% else %}  
                                <td><a href="{% url 'verify' reg_id=reg.id %}" class="btn btn-primary"> Verify </a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; alifewithhim </div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{% static '/dashboard/js/scripts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static '/dashboard/js/data.js' %}"></script>
    <script src="{% static '/dashboard/js/datatables-simple-demo.js' %}"></script>
</body>
</html>
