{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dwell48</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'indexassets/img/alifewithhim-logo.png' %}" rel="icon">
  <link href="{% static 'indexassets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'indexassets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'indexassets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'indexassets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'indexassets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'indexassets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'indexassets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'indexassets/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/regstyle.css' %}" rel="stylesheet">
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'indexassets/img/alifewithhim-logo.png' %}">
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="register">Register</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div data-aos="fade-up">
              <div>
              <form method="POST" action="register">
                {% csrf_token %}
                <div class="title">
                  <i class="fas fa-pencil-alt"></i> 
                  <h3>REGISTER HERE</h3>
                </div>
                {% for message in messages %}
                  <h4 class="message" >{{message}}</4>
                {% endfor %}
                <div class="info">
                  <input class="fname" type="text" name="user_firstname" placeholder="First name" required>
                  <input class="fname" type="text" name="user_lastname" placeholder="Surname name" required>
                  <input type="tel" name="user_phone" placeholder="Phone number" required>
                  <input type="text" name="user_email" placeholder="Email" required>
                  <select name="user_gender" required>
                    <option>Gender*</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                  <select name="user_mode_of_info" required>
                    <option>How did you hear of the program*</option>
                    <option>Zoom</option>
                    <option>The revelation of Jesus</option>
                    <option>Family and friends</option>
                    <option>Socia media</option>
                    <option>Others</option>
                  </select>
                  <select name="user_first_time" required>
                    <option>Have you been to any of our programs</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                  <input type="text" name="user_residence" placeholder="Where are you coming from" required>
                  <select name="user_arrival_day" required>
                    <option>When will you arrive*</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                  </select>
                </div>
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(static/indexassets/img/0T2A1529.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/indexassets/img/0T2A1529.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/indexassets/img/Dec-21-31.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/indexassets/img/ADWH __ NOV __ Accra Edition-0906.jpg)"></div>

    </div>
  
  </section><!-- End Hero Section -->

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'indexassets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'indexassets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'indexassets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'indexassets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'indexassets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'indexassets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'indexassets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'indexassets/js/main.js' %}"></script>

</body>

</html>